/* natural box model */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body{
    width:100%;
    background-color: #c5d5cb;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #9fa8a3;
    font-family: 'Cinzel', serif;
    padding:0;
    margin:0;
    position: relative;
    left: -8px;
    top: -8px;
}


.logo{
    color: rgb(238, 238, 238);
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display:flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links li{
    list-style:none;
}

.nav-links a{
   color: rgb(238, 238, 238);
   text-decoration: none;
   letter-spacing: 3px;
   font-weight: bold;
   font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(238, 238, 238);
    margin: 5px;
    transition: all 0.3s ease;
}

main{
    width: 900px;
    margin:auto;
    background-color:white;
    padding: 50px;
}

section{
    padding: 10px;
}

h1{
    font-family: 'Cinzel', serif;
    text-align: center;
}
h2, h3, h4{
    font-family: 'Abhaya Libre', serif;
}
p, td {
    font-family: 'Lora', serif;
    text-align:left;
    padding-right: 10px;
}

li{
    font-family: 'Lora', serif;
    list-style-type: circle;
}

th{
    font-family: 'Lora', serif;
    text-align: center;
    
}

table{
    border: 1px solid black;
    padding: 15px;
    margin: auto;
    margin-top: 25px;
}
/* CSS specifically for HOME page */
.feature{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

/* CSS specifically for TENSES page */
.passe{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto;
}

.present{
    text-align:left;
}
.presentcolumn{
    text-align: right;
    padding-right: 5px;
}
.futur{
    text-align: center;
}
/* CSS specifically for ARTICLES page */


/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */

/* TODO: Adjust the size of the .container in index.html */
/* TODO: Adjust any headline sizes (as needed) */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 1024px) { 
    .nav-links{
        width: 60%;
    }
  }
  
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #9fa8a3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
    }
    .burger{
        display: block;
    }
    main{
        width:100%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0; 
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}